#title {
    -fx-text-fill: white;
    -fx-font-family:"Arial Narrow";
    -fx-font-weight:bold;
    -fx-font-size: 24px;
}

.label {
    -fx-text-fill: white;
    -fx-font-family:"Arial Narrow";
    -fx-font-size: 20px;
}

.text-field {
	-fx-min-width: 50;
	-fx-min-height: 35;
	-fx-max-width: 75;
	-fx-max-height: 35;
	-fx-font-size: 16px;
	-fx-font-family: "Arial Narrow";
}

.button {
	-fx-font-size: 16px;
	-fx-font-family: "Arial Narrow";
    -fx-background-color:linear-gradient(#FDFCFB,#E2D1C3);
    -fx-min-width: 25;
    -fx-min-height: 35;
    -fx-max-width: 125;
    -fx-max-height: 35;
}